body {
  text-align: center;
  margin: 20px 20px 20px 20px;
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  margin-top: 20px;
}
.title {
  width: 400px;
}
.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  list-style: none;
}
.poke-li {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(197, 231, 241);
  margin: 20px 20px 20px 20px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.poke-name {
  font-family: "Russo One", sans-serif;
  color: rgb(228, 205, 0);
}
.types-list {
  list-style: none;
  align-items: center;
}
.types-li {
  font-size: 14px;
  color: rgb(163, 241, 163);
  background-color: rgb(2, 88, 187);
  width: 80px;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 45px;
}
